<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start" [defaultHref]="['/auth/login']" color="light"></ion-back-button>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="form-container">
      <h1 class="ion-text-center">Ingresa tu email</h1>
      <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-input class="input-background" label="Correo Electrónico" labelPlacement="stacked" type="text" placeholder="Ejemplo@email.com"
        formControlName="email" [class.is-invalid]="
        (form.get('email')?.invalid && submitted) || 
        (form.get('email')?.invalid && form.get('email')?.touched)"></ion-input>
        
        @if ((form.get('email')?.invalid && submitted) || form.get('email')?.invalid && form.get('email')?.touched) {
          <span class="danger">Ingrese un email válido</span>
        }
        <ion-button color="primary" type="submit" [disabled]="showMsg">Enviar</ion-button>
        <p *ngIf="showMsg">{{msg}}</p>
      </form>
    </div>
  </div>
</ion-content>
