<ion-header>
  <ion-toolbar color="primary">
    <ion-button class="mx-10" size="small" slot="start" (click)="logOut()" color="light">
      <ion-icon name="log-out" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-title>Educación Ambiental</ion-title>
  </ion-toolbar>

  <ion-toolbar class="toolbar-padding" color="light">
    <ion-label>
      <p>Filtra reportajes ingresando el titular</p>
    </ion-label>
    <ion-searchbar 
      [(ngModel)]="searchTerm"
      search-icon="search-circle" 
      debounce="200"
      placeholder="Busca un reportaje" 
      (ionInput)="filterItems()"
      show-clear-button="focus">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-list>
      <ion-item>
        <ion-label color="primary">Reportajes</ion-label>
        <ion-button [disabled]="reloadDisabled" (click)="readItems()" slot="end">
          <ion-icon name="reload-outline"></ion-icon>
        </ion-button>
      </ion-item>
      @if (reportajes.length == 0) {
        <ion-item color="none" lines="none"><ion-label>No hay reportajes</ion-label></ion-item>
      }@else{
        @for (reportaje of reportajes; track $index) {
          <ion-card>
            <img alt="Silhouette of mountains" [src]="reportaje.imageUrl || 'https://ionicframework.com/docs/img/demos/card-media.png'" />
            <ion-card-header>
              <ion-card-title>
                {{reportaje.title}}
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>{{reportaje.content}}</p>
              <ion-button [href]="reportaje.link" target="_blank">Ver Más</ion-button>
            </ion-card-content>
          </ion-card>
        }
      }
      
    </ion-list>
  </div>

  
  

</ion-content>
