ion-list{
    background: trasparent;
}

img{
    width: 100%;
    aspect-ratio: 16/9;
    display: block;
    object-position: center center;
    object-fit: contain;
    margin: auto;
}

.ios ion-searchbar, .ios ion-item-divider ion-label{
    padding: 8px 12px;
}

.toolbar-padding{
    padding: 5px;
}